@import "../jspm_packages/npm/leaflet@1.2.0/dist/leaflet.css";
@import "../jspm_packages/npm/leaflet-minimap@3.4.0/dist/Control.MiniMap.min.css";

.q-map {
  opacity: 1 !important;
}

.q-map-container {
  height: 250px;
  overflow: hidden;
}

// overwrite some styles from leaflet
.leaflet-container {
  background-color: transparent;
}
.leaflet-bar {
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #92929e;
}
.leaflet-bar a:first-child,
.leaflet-bar a:last-child {
  border-radius: 0;
}

// end

// overwrite some styles from leaflet Control.MiniMap
.leaflet-control-minimap {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #000000;
}
// end

.leaflet-control-minimap-toggle-display {
  background-image: none;
}

.q-map-marker {
  border-radius: 50%;
  background: black;
  box-sizing: content-box;
  box-shadow: 0px 0px 0px 2px currentColor;

  &--without-point {
    background: none;
    box-shadow: none;
  }
}

.q-map-marker__label {
  position: absolute;
  white-space: nowrap;
  text-align: center;

  text-shadow: rgb(250, 250, 250) 2px 0px 0px,
    rgb(250, 250, 250) 1.75517px 0.958851px 0px,
    rgb(250, 250, 250) 1.0806px 1.68294px 0px,
    rgb(250, 250, 250) 0.141474px 1.99499px 0px,
    rgb(250, 250, 250) -0.832294px 1.81859px 0px,
    rgb(250, 250, 250) -1.60229px 1.19694px 0px,
    rgb(250, 250, 250) -1.97998px 0.28224px 0px,
    rgb(250, 250, 250) -1.87291px -0.701566px 0px,
    rgb(250, 250, 250) -1.30729px -1.5136px 0px,
    rgb(250, 250, 250) -0.421592px -1.95506px 0px,
    rgb(250, 250, 250) 0.567324px -1.91785px 0px,
    rgb(250, 250, 250) 1.41734px -1.41108px 0px,
    rgb(250, 250, 250) 1.92034px -0.558831px 0px;

  left: 4px;
  transform: translateX(-50%);

  line-height: 1.1;
}

.q-map-code-point {
  font-family: sans-serif;
}

.q-map-marker__label--top {
  bottom: 1.1em;
}

.q-map-marker__label--bottom {
  top: 1.1em;
}

.q-map-marker__label--event {
  &.q-map-marker__label--top {
    &::after {
      content: "\2193";
      font-family: Arial, sans;
      font-size: 25px;
      display: block;
      color: black;
      text-align: center;
      position: relative;
      top: -0.1em;
    }
  }

  &.q-map-marker__label--bottom {
    &::before {
      content: "\2191";
      font-family: Arial, sans;
      font-size: 25px;
      display: block;
      color: black;
      text-align: center;
      position: relative;
      top: -0.2em;
    }
  }
}

.q-map-marker__label--without-point {
  left: 0;

  &.q-map-marker__label--top {
    top: 0;
  }

  &.q-map-marker__label--bottom {
    bottom: 0;
  }
  transform: translate(-50%, -50%);
}

.q-map-footer__marker-labels__label {
  margin-bottom: 3px;

  .q-map-code-point {
    padding-right: 4px;
  }
}

.q-map-footer__marker-labels--one-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  align-content: center;

  .q-map-footer__marker-labels__label {
    white-space: nowrap;
    padding-left: 10px;
  }
}

.q-map-legend {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.q-map-legend__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.q-map-legend__item__color {
  display: block;
  width: 12px;
  height: 12px;
  background-color: currentColor;
  margin-right: 3px;
  flex-shrink: 0;
}

.q-map-legend__item__text {
  white-space: nowrap;
}

.leaflet-control-button {
  cursor: pointer;
}

.q-enable-leaflet-interaction-button {
  width: 35px;
  height: 35px;
  font-size: 10px;
  text-transform: uppercase;
  border: 1px solid #92929e;
  background: white;
  padding: 5px 9px;
  svg {
    width: 100%;
    display: block;
  }
}

.leaflet-control-minimap {
  pointer-events: none;
}

.leaflet-bottom .leaflet-control-scale {
  margin: 0;
  padding: 3px 5px 5px 5px;
}

.with-base-layer-aerial .leaflet-control-scale {
  background: rgba(255, 255, 255, 0.7);
}

.leaflet-control-scale-line {
  background: none;
  border: none;
  border-bottom: 1px solid #333;
  overflow: visible;
  text-align: center;
  position: relative;
  &::before,
  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 6px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -3px;
  }
  &::after {
    left: auto;
    right: 0;
  }
}

.q-map-container .leaflet-labels-pane img {
  max-width: none !important;
}

.q-map
  .q-map-container.leaflet-container
  .leaflet-control-container
  .leaflet-top.leaflet-left
  .leaflet-control-zoom {
  & a.leaflet-control-zoom-in,
  & a.leaflet-control-zoom-out {
    text-decoration: none;

    &:hover {
      text-decoration: none;
      background-color: #f4f4f4;
    }

    &:active,
    &:focus {
      background-color: #fff;
    }
  }
}
